{% load staticfiles %}

.socialaccount_providers {
  padding-left:0;
}
.socialaccount_providers li {
  list-style-type:none;
}
.socialaccount_providers a.socialaccount_provider {
  text-align:center;
  display:inline-block;
  border-radius:6px;
  margin:5px 0;
  width:250px;
  height:48px;
  line-height:32px;
  font-size:16px;
  color:#fff;
  padding:8px 8px 8px 40px;
  background-repeat:no-repeat;
  background-position:8px 8px;
  text-decoration:none;
  -webkit-transition:all 0.25s ease-in-out;
  -moz-transition:all 0.25s ease-in-out;
  -ms-transition:all 0.25s ease-in-out;
  -o-transition:all 0.25s ease-in-out;
  transition:all 0.25s ease-in-out;
}
.socialaccount_providers a.socialaccount_provider.facebook {
  background-color:#3b5998;
  background-image:url({% static 'img/facebook_icon_normal.png' %});
}
.socialaccount_providers a.socialaccount_provider.facebook:hover {
  color:#b1caff;
}
.socialaccount_providers a.socialaccount_provider.twitter {
  background-color:#00acee;
  background-image:url({% static 'img/twitter_icon_normal.png' %});
}
.socialaccount_providers a.socialaccount_provider.twitter:hover {
  color:#8cdfff;
}
.socialaccount_providers a.socialaccount_provider.google {
  background-color:#dd4b39;
  background-image:url({% static 'img/google_icon_normal.png' %});
}
.socialaccount_providers a.socialaccount_provider.google:hover {
  color:#ffb1a7;
}
